@font-face {
  font-family: "OpenSansCondensedBold";
  src: url("../fonts/OpenSansCondensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansCondensedLight";
  src: url("../fonts/OpenSansCondensed-Light.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansCondensedLightItalic";
  src: url("../fonts/OpenSansCondensed-LightItalic.ttf") format("truetype");
}
