@import './fonts';

$osc-bold: 'OpenSansCondensedBold';
$osc-light: 'OpenSansCondensedLight';
$osc-light-italic: 'OpenSansCondensedLightItalic';

/* colors */
$white: #fff;
$black: #000;
$menu-item-title: #4a4a4a